
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card mb-4 py-3 border-left-success">
    <div class="card-body">
        <b>Blog Posts Count : </b> @ViewBag.BlogPostsCount
    </div>
</div>

