@model IEnumerable<Saklambac_Movies_App.Models.Director>
@{
    ViewBag.Title = "Directors";
}

<div class="container">
    <div class="Film-Section-1">
        <h3 class="text-center">Directors</h3>
        <a href="/Director/Add/" class="btn btn-outline-info">Add New Director</a>
        <hr />
        <div class="row flex-column-reverse flex-md-row">
            @foreach (var director in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <img class="card-img" src="@director.Photo" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h1 class="card-title">@director.Name</h1>
                            <div class="container">
                                <div class="row">
                                    <div class="col-4 metadata">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <p>@director.Score/10</p>
                                    </div>
                                    <div class="col-8 metadata">@director.BirthDate</div>
                                </div>
                            </div>
                            <p class="card-text"></p>
                            <a class="trailer-preview" href="/Director/Detail/@director.Id">
                                <i class="fa fa-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

